body {
    font-family:'Courier New', Courier, monospace;
    background-color: cornsilk;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    font-family: 'Times New Roman', Times, serif;
}

table, th, td  {
    border: 5px;
}

h1 {
    font-size: 20px;
}

div {
    align-items: center;
}